body {
    background-color: rgb(173, 173, 227);
    text-align: center;
    font-family: Cambria;

}

h1 {
    padding: 10px;
    margin-top: 30px;
    color: rgb(74, 21, 21);
}


h2 {
    font-family: Cambria;
}

h5{
margin-top:190px; 


}


.lives{
    margin-right: 70px;
}

.levels {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    font-family: Cambria;
    font-size: 20px;
}


.hidden {
    display: none;
}


.modal {
    height: 10px;
    margin-right: 160px;
}


.restart {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    border-left: 20px;
    border-color: rgb(173, 173, 227);
    background-color: rgb(173, 173, 227);
}


.modal img {
    height: 30px;
    border-radius: 40px;
    margin-left: 60px;
}


.click {
    height: 25px;
    width: 48px;
    background-color: rgb(157, 138, 139);
    border: 5px solid rgba(63, 27, 30, 0.386);
    border-radius: 5px;
    border-radius: 10px;
    text-align: center;
}


.board-container {
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


table {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(78, 58, 58);
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}


.showned {
    background-color: rgb(173, 140, 145);
}


.cell {
    border: solid 2px rgba(84, 79, 79, 0.892);
    background-color: rgb(136, 103, 103);
    width: 40px;
    height: 40px;
}



.cell:hover {
    opacity: 0.5;
}


.click:hover {
    opacity: 0.5;
}


.isShown {
    background-color: rgba(186, 170, 170, 0.892);
}

.isShownMine {
    background-color: rgb(212, 60, 60);
}


.dark-mode {
    background-color: black;
    color: white;

    h1 {
        color: rgb(199, 136, 150);
    }
}


.btn-dark {
    background-color: rgb(58, 52, 52);
    border-color: rgb(34, 32, 32);
    border-radius: 40px;
    margin-left: 10px;
    color: rgb(179, 179, 162);
    height: 25px;
    margin-bottom: 10px;
}


.timer-container {
    margin-left: 120px;
}