body {
    background-color: rgb(173, 173, 227);
    text-align: center;
    /* color: rgb(133, 99, 99); */
    font-family: Cambria;

}

h1 {
    padding: 10px;
    margin-top: 30px;
    color: rgb(74, 21, 21);
}


h2 {
    font-family: Cambria;
}


.levels {

    /* margin: 0 auto; */
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    font-family: Cambria;
    font-size: 20px;

}



.click {
    height: 25px;
    width: 48px;
    background-color: rgb(157, 138, 139);
    border: 5px solid rgba(63, 27, 30, 0.386);
    border-radius: 5px;
    border-radius: 10px;
    text-align: center;


}

.board-container {

    margin: 100px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;


}


table {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(78, 58, 58);
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

/* 
 .cell img{
    width: 25px;
    height: auto;
}   */



.showned {
    background-color: rgb(173, 140, 145);

}

.cell {

    border: solid 2px rgba(84, 79, 79, 0.892);
    background-color: rgb(136, 103, 103);
    width: 40px;
    height: 40px;
}



.cell:hover {
    opacity: 0.5;
}


.click:hover {
    opacity: 0.5;
}


.isShown {
    border: rgb(62, 60, 60);
    background-color: rgba(186, 170, 170, 0.892);

}

.restart{
    border-radius:50px;
    height: 20px;
    width: 20px;
    padding: 10px;
}